<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informatik macht Spaß!</title>
    <link rel="stylesheet/less" type="text/css" th:href="@{/css/style.less}" />
    <script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
</head>
<body>

<header th:replace="fragments/header :: header"></header>
<main class="center">
    <h1>Informatik macht Spaß!</h1>
    <div id="article-grid">
        <article th:each="article : ${articles}">
            <a th:href="@{/{slug}/(slug=${article.slug})}">
                <h2 th:text="${article.title}"></h2>
                <p>Jetzt lesen</p>
            </a>
        </article>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>